h1 {
  font: 200px "Century Gothic", Futura, sans-serif;
  margin: 10px;
}

.bold {
  font-weight: bold;
}

.button {
  background-color: #14BDEB; /* Light Blue */
  border: none;
  color: white;
  text-align: center;
  font-size: 40px;
  width: 150px;
  padding: 5px 20px;
  margin: 4px 2px;
  display: inline-block;
  cursor: pointer;
}

.powersave {
  width: 150px;
  padding: 5px 20px;
  font-size: 30px;
  width: 200px;
}
